<%- cluster_info = get_cluster_info(jobs) -%>

<div class='container border py-1 rounded-1'>
    <h2><%= cluster.capitalize() %> Cluster</h2>
    <div class="row justify-content-center">
        <div class="col">
            <div class="barchart">
                <div class="bcBar bar-<%= cluster_info[:gpu_using_pct] %> bg-primary">
                    <p class="barValue">
                        <%= cluster_info[:gpu_using] %>
                    </p>
                    <p class="barLabel">
                        Active GPU jobs
                    </p>
                </div>
                <div class="bcBar bar-<%= cluster_info[:gpu_requesting_pct] %> bg-primary">
                    <p class="barValue">
                        <%= cluster_info[:gpu_requesting] %>
                    </p>
                    <p class="barLabel">
                        Queued GPU jobs
                    </p>
                </div>
            </div>
            <div class="barChartTitle text-center">
                <p>GPU Usage</p>
            </div>
        </div>
        <div class="col">
            <div class="barchart">
                <div class="bcBar bar-<%= cluster_info[:jobs_running_pct] %> bg-danger">
                    <p class='barValue'>
                        <%= cluster_info[:jobs_running] %>
                    </p>
                    <p class="barLabel">
                        Jobs Running
                    </p>
                </div>
                <div class="bcBar bar-<%= cluster_info[:jobs_queued_pct] %> bg-danger">
                    <p class="barValue">
                        <%= cluster_info[:jobs_queued] %>
                    </p>
                    <p class="barLabel">
                        Jobs Queued
                    </p>
                </div>
            </div>
            <div class="barChartTitle text-center">
                <p>Jobs</p>
            </div>
        </div>
    </div>
</div>