<%- 
    gpu_using = jobs.count { |job| job.status == 'running' && job.native[:gres].include?("gpu") }
    gpu_requesting = jobs.count { |job| job.status == 'queued' && job.native[:gres].include?("gpu") }
    jobs_running = jobs.count { |job| job.status == 'running' }
    jobs_queued = jobs.count { |job| job.status == 'queued' }
-%>

<div class='container border py-1 rounded-1'>
    <h2><%= cluster.capitalize() %> Cluster</h2>
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="barchart">
                <div class="bcBar bar-30 bg-primary">
                    <p class="barValue">
                        <%= gpu_using %>
                    </p>
                    <p class="barLabel">
                        Using GPU
                    </p>
                </div>
                <div class="bcBar bar-70 bg-primary">
                    <p class="barValue">
                        <%= gpu_requesting %>
                    </p>
                    <p class="barLabel">
                        Requesting GPU
                    </p>
                </div>
            </div>
            <div class="barChartTitle text-center">
                <p>GPU Usage</p>
            </div>
        </div>
        <div class="col-5">
            <div class="barchart">
                <div class="bcBar bar-30 bg-danger">
                    <p class='barValue'>
                        <%= jobs_running %>
                    </p>
                    <p class="barLabel">
                        Running
                    </p>
                </div>
                <div class="bcBar bar-70 bg-danger">
                    <p class="barValue">
                        <%= jobs_queued %>
                    </p>
                    <p class="barLabel">
                        Queued
                    </p>
                </div>
            </div>
            <div class="barChartTitle text-center">
                <p>Jobs</p>
            </div>
        </div>
    </div>

    <table class='table'>
        <tr>
            <th>Jobs Running</th>
            <th>Jobs Queued</th>
        </tr>
        <tr>
            <td>
                <%= jobs.count { |job| job.status == 'running' } %>
                (<%= jobs.count { |job| job.status == 'running' && job.native[:gres].include?("gpu") } %> using gpu)
            </td>
            <td>
                <%= jobs.count { |job| job.status == 'queued' } %>
                (<%= jobs.count { |job| job.status == 'queued' && job.native[:gres].include?("gpu") } %> requesting gpu)
            </td>
        </tr>
    </table>
</div>