<div data-controller="inspector">
  <h1>App Inspector</h1>
  <form id="app_inspector_form" action="<%= replace_app_inspector_path %>" method="post" data-inspector-target="form">
    <select name="cluster_select" id="cluster_inspector_selector" data-action="change->inspector#submitForm">
      <option value="_all">All Clusters</option>
      <% @cluster_names.each do |cluster_name| %>
        <option value="<%= cluster_name %>"><%= cluster_name %></option>
      <% end %>
    </select>
    <select name="app_select" id="app_inspector_selector" data-action="change->inspector#submitForm">
      <% @app_names.each do |app_name| %>
        <option value="<%= app_name %>"><%= app_name %></option>
      <% end %>
    </select>
    <turbo_stream action="replace" target="app_inspector_histogram">
      <template></template>
      <%= render partial: 'histogram', locals: { graph_data: @app_cpus['graph_data'], bin_size: @app_cpus['bin_size'] } %>
    </turbo-stream>
    <p id="x_label">Cores per job</p>
    <div class='d-flex align-items-center'>
      <p># of bins: </p>
      <input type="range" name="bins_slider" min="1" max="20" value="5" id="app_inspector_bins_slider" data-inspector-target="binCountSlider" data-action="change->inspector#updateBinCount">
      <p data-inspector-target="binCountLabel">5</p>
    </div>
  </form>
</div>
