<!DOCTYPE html>
<html>
  <head>
    <title>OSC Reporting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <header>

    <nav class="navbar navbar-blue navbar-static-top" id="main-nav">
      <div class="container-fluid">
        <div class="navbar-header">
          <%# #FIXME: ood_appkit can supply these links but doesn't have a rails 7 compatible version yet! %>
          <%= link_to 'OSC OnDemand', 'ondemand.osc.edu/pun/dev/dashboard', class: "navbar-brand" %>  
        </div>     

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav mr-auto">
            <li class="nav-item"><%= link_to "Jobs", jobs_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a href="https://github.com/OSC/frame-renderer/blob/master/README.md">Help</a><li>
          </ul>
        </div>
      </div>
    </nav>

  </header>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
